@import './base.css';

html {
  min-height: 100%;
  min-height: 100dvh;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  min-height: 100dvh;
  margin: 0;
  overflow-x: hidden;
}

#app {
  min-height: 100%;
  min-height: 100dvh;
  min-height: 0;
}
